<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jalotsav.mhcarshiner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActvtySplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActvtySignIn"
            android:label="@string/signin_sml"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark.NoActionBar.BGStyle" />
        <activity
            android:name=".ActvtySignUp"
            android:label="@string/signup_sml"
            android:screenOrientation="portrait"
            android:theme="@style/MDTheme.BlueMdnghtBlue" />
        <activity
            android:name=".VerifyMobileNo"
            android:label="@string/verify_mobile_sml"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActvtyMain"
            android:screenOrientation="portrait" />
    </application>

</manifest>